Repository Jrp0h/backpack: changes, and which pre-commit hooks are due for each by the changed paths.
All: format, tidy

format:
  name: Formatting to ensure changes will pass format on CI
  entry: bash pre-commit/format.sh
  stages:
  - commit
  language: system

tidy:
  name: Tidying go.mod to ensure changes will pass tidy on CI
  entry: bash pre-commit/tidy.sh
  stages:
  - commit
  pass_filenames: false
  language: system

Added version command and moved config flag to commands
  cmd/backup.go
  cmd/restore.go
  cmd/root.go
  cmd/testConnections.go
  cmd/version.go
Due: format

Tidy and Format
  action/ftp.go
  action/move.go
  config/actions.go
  config/config.go
  config/cryption.go
  cryption/aes.go
  cryption/crypter.go
  go.mod
  go.sum
  utils/date.go
  utils/defaults.go
  utils/levenshtein.go
  utils/logger.go
  utils/path.go
  utils/strings.go
  utils/utils.go
  zip/zip.go
Due: format, tidy

Fixed linting errors
  action/ftp.go
  cmd/backup.go
  cmd/restore.go
  cmd/root.go
  cmd/testConnections.go
  utils/levenshtein.go
  utils/utils.go
  zip/zip.go
Due: format

Lint, Format and Tidy action on push to all branches
  .github/workflows/clean-code.yml
  .pre-commit-config.yaml
  project
Due: none

Fixed problem in project script
  project
Due: none

Changed version
  cmd/version.go
Due: format

Added new-line to Printf for version
  cmd/version.go
Due: format

Added version command to README.md
  README.md
Due: none

Version description now shows version
  cmd/version.go
Due: format

Added TODO.md
  TODO.md
Due: none

Renamed cryption to crypto
  cmd/backup.go
  cmd/restore.go
  config/config.go
  config/cryption.go
  config/crypto.go
  cryption/crypter.go
  crypto/aes.go
  crypto/crypter.go
Due: format

Updated TODO.md
  TODO.md
Due: none

Added prompt to backup if encryption was missing. Added new bug
  TODO.md
  cmd/backup.go
  config.yml.example
  prev_hash
Due: format

Added handlers for commands and fixed two bugs
  TODO.md
  cmd/backup.go
  cmd/restore.go
  crypto/crypter.go
  handlers/backup.go
  handlers/crypto.go
  handlers/hash.go
Due: format

restore command now accepts --action and --file
  TODO.md
  cmd/restore.go
  handlers/restore.go
  prev_hash
Due: format

Updated TODO and restore command --action now fails if the name isn't found
  README.md
  handlers/restore.go
Due: format

Added doc generation
  cmd/backup.go
  cmd/restore.go
  cmd/root.go
  cmd/testConnections.go
  cmd/version.go
  docs/gen_docs.go
  docs/man/backpack-backup.1
  docs/man/backpack-restore.1
  docs/man/backpack-test-connections.1
  docs/man/backpack-version.1
  docs/man/backpack.1
  docs/md/backpack.md
  docs/md/backpack_backup.md
  docs/md/backpack_restore.md
  docs/md/backpack_test-connections.md
  docs/md/backpack_version.md
  go.mod
  go.sum
  pre-commit/gen-docs.sh
  project
Due: format, tidy

Added file_name_format to config
  README.md
  cmd/testFormat.go
  config/config.go
  handlers/backup.go
  utils/date.go
Due: format

Updated project script
  project
Due: none

Fixed logical error in project script
  project
Due: none

v1.0-dev.1
  cmd/version.go
  docs/man/backpack-backup.1
  docs/man/backpack-restore.1
  docs/man/backpack-test-connections.1
  docs/man/backpack-test-format.1
  docs/man/backpack.1
  docs/md/backpack.md
  docs/md/backpack_backup.md
  docs/md/backpack_restore.md
  docs/md/backpack_test-connections.md
  docs/md/backpack_test-format.md
Due: format

Added v1.0-dev.2 todos
  v1.0-dev.2.md
Due: none

Fixed bug where program would crash if prev_hash had invalid characters
  handlers/hash.go
  v1.0-dev.2.md
Due: format

Fixed bug where zipping absolute paths didn't work
  v1.0-dev.2.md
  zip/zip.go
Due: format

Added spinners to backup, crypto and hash
  handlers/backup.go
  handlers/crypto.go
  handlers/hash.go
  v1.0-dev.2.md
Due: format

Added description for a daemon.
  TODO.md
Due: none

Updated Main Feature of v1.0-dev.2
  TODO.md
  v1.0-dev.2.md
Due: none

Started work on loading daemon config
  config/actions.go
  config/config.go
  config/daemon.go
  daemon/daemon.go
  task/task.go
Due: format

Path conditions:
  format: any of: .go$
  tidy: any of: ^go.mod$
